{% extends "catalogue/base.html" %}
{% block content %}
<div class="centered-content">
    <div class="login-form">
        <form>
            <div class="form-outline mb-4">
                <input type="email" id="form_username" placeholder="Username" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <input type="password" id="form_pswd" placeholder="Password" class="form-control" />
            </div>

            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form_remember" checked />
                        <label class="form-check-label" for="form_remember"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <a href="#!">Forgot password?</a>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>
    </div>
</div>
{% endblock content%}