{% extends "catalogue/base.html" %}
{% block content %}
<div class="centered-content">
    <div class="signup-form mt-4">
        <form>
            <div class="form-outline mb-5">
                <input type="email" id="form_username" placeholder="Username" class="form-control" />
            </div>

            <div class="form-outline mb-5">
                <input type="email" id="form_email" placeholder="Email" class="form-control" />
            </div>

            <div class="form-outline mb-5">
                <input type="password" id="form_pswd" placeholder="Password" class="form-control" />
            </div>

            <div class="form-outline mb-5">
                <input type="password" id="form_reenter_pswd" placeholder="Re-enter Password" class="form-control" />
            </div>

            <button type="button" class="btn btn-primary btn-block mb-4">Sign up</button>
        </form>
    </div>
</div>
{% endblock content%}